<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Centurion.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Centurion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Centurion.Core.Properties.Settings>
            <setting name="GameLength" serializeAs="String">
                <value>01:00:00</value>
            </setting>
            <setting name="IntervalLength" serializeAs="String">
                <value>00:01:00</value>
            </setting>
        </Centurion.Core.Properties.Settings>
        <Centurion.Properties.Settings>
            <setting name="SoundEffect" serializeAs="String">
                <value />
            </setting>
            <setting name="GameLength" serializeAs="String">
                <value>01:00:00</value>
            </setting>
            <setting name="IntervalLength" serializeAs="String">
                <value>00:01:00</value>
            </setting>
        </Centurion.Properties.Settings>
    </userSettings>
</configuration>